<div class="welcome-container">
    <h1 class="welcome-title">Xush Kelibsiz!</h1>
    <p class="welcome-subtitle">Bu sizning foydalanuvchilarni boshqarish tizimingiz.</p>
    <p><a href="/users" class="users-management-link">Foydalanuvchilarni Boshqarish</a></p>
</div>
